<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Firebase Server Auth</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="signup.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <section class="login my-5 mx-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ">
            <form id="signup" class="content" action="index.html" method="post">
              <h1>Create Account</h1>
              <div class="social">
                <a class="icons" href="https://www.facebook.com/"><img src="facebook.png"></a>
                <a class="icons" href="https://www.twitter.com/"><img src="twitter.png"></a>
                <a class="icons" href="https://www.instagram.com/"><img src="instagram (1).png"></a>
                <a class="icons" href="https://accounts.google.com/"><img src="google.png"></a>
              </div>
              <div class="form-row">
                <div class="col-lg-6">
                  <input type="name" class="form-control" placeholder="Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" class="form-control" name="login" placeholder="Email">
                </div>
                <div class="col-lg-6">
                  <input type="password" class="form-control pass" name="password" placeholder="Password (min 6 characters)">
                </div>
                <div class="col-lg-6">
                  <input type="checkbox" class="form-check-input" id=Terms1 value="">
                  <label for="Terms1">I agree to the <a href="#" class="aTags">Terms</a> and <a href="#"
                      class='aTags'>Privacy Policy</a>.</label>
                </div>
                <div class="col-lg-6">
                  <button type="submit" id="signup" class="btn btn-primary">Sign Up</button>
                  <form id="signin" action="index.html" method="post">
                    <button type="button" id="signin" class="btn btn-outline-primary">Sign in</button>
                  </form>

                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-3">
            <img src="image.jpg" class="image" alt="Art">

          </div>

        </div>
      </div>

    </section>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>

    <script>
      document
        .getElementById("signin")
        .addEventListener("click", (event) => {
          location.href = "/login"
        });
      var firebaseConfig = {
        apiKey: "AIzaSyA88fzrR7gXrPABWqrkT5WbiThhjBhcUWE",
        authDomain: "wips-ec582.firebaseapp.com",
        projectId: "wips-ec582",
        storageBucket: "wips-ec582.appspot.com",
        messagingSenderId: "546680359625",
        appId: "1:546680359625:web:4f63b565c86dbe62c05b18"
      };

      firebase.initializeApp(firebaseConfig);

      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

      document
        .getElementById("signup")
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const login = event.target.login.value;
          const password = event.target.password.value;

          firebase
            .auth()
            .createUserWithEmailAndPassword(login, password)
            .then(({
              user
            }) => {

              return user.getIdToken().then((idToken) => {
                console.log(idToken);
                return fetch("/sessionLogin", {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                  },
                  body: JSON.stringify({
                    idToken
                  }),
                });
              });
            })
            .then(() => {
              return firebase.auth().signOut();
            })
            .then(() => {
              window.location.assign("/student");
            });
          return false;
        });
    </script>
  </main>
</body>

</html>