body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #ff5454ff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
}

.logo {
  color: white;
  height: 50px;
  font-size: 36px;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;

}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;

}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a.active,
nav ul li a:hover {
  background: black;
  color: #fff;
  transition: 0.5s;

}

@media (max-width:1200px) {

  header {
    margin: 20px;
  }
}

@media (max-width:768px) {
  .menu-toggle {
    display: block;
    width: 40px;
    margin: 10px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .menu-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;

  }
}

.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 252px;
  height: 78px;
}

.Layer_3 {
  background-image: url("Layer 3.png");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 332px;
  height: 176px;
}

.Layer_4 {
  background-image: url("Layer 4.png");
  position: absolute;
  bottom: 0;
  width: 86px;
  height: 75px;
}

.Upload {
  height: 300px;
  width: 300px;
  border: dashed 2px grey;
  position: relative;
  top: 130px;
  left: 90px;
}

.containers {
  height: 350px;
  position: relative;
  top: 162px;
  left: 60px;
  width: 400px;
}

.containers .wrapper {
  position: relative;
  height: 300px;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper .active {
  border: none;
}

.wrapper .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.wrapper .icon {
  font-size: 100px;
  color: #9658fe;
}

.wrapper .text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #5b5b7b;
}

.wrapper .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  font-size: 18px;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
  display: none;
}

.containers #custom-btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ff5454ff;
}

.upl-btn {
  position: relative;
  top: 40px;
  left: 85px;
}


.upl-btn :hover :focus {
  background-color: green;
}

.rbox {
  position: absolute;
  top: 0px;
  right: 280px;
}

.lbox {
  position: absolute;
  left: 154px;
}

.logo2 {
  color: #ff5454ff;
  position: absolute;
  left: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: cursive;
}

.plus {
  height: 145px;
  position: absolute;
  top: 34px;
  left: 121px;
  opacity: 56%;
}

.download {
  height: 106px;
  position: absolute;
  top: 52px;
  right: 163px;
  opacity: 35%;
}
.wp2{
  border-style: ridge;
}

.textl{
  position: absolute;
  left: 121px;
  top: 181px;
  letter-spacing: 3px;
}
.textr{
  position: absolute;
  left: 127px;
  top: 181px;
  letter-spacing: 3px;
}
.logout{
  position: absolute;
  right: 0px;
  top: 0px;
  text-decoration: none;
  padding: 16px;
  color: #ff5454ff;
  font-weight: 800;
  letter-spacing: normal;
}
